<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="accpagibigph3srv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="accpagibigph3srv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <accpagibigph3srv.Properties.Settings>
            <setting name="SYS_DATE" serializeAs="String">
                <value />
            </setting>
            <setting name="CONSO_CNTR" serializeAs="String">
                <value>-1</value>
            </setting>
        </accpagibigph3srv.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <accpagibigph3srv.Properties.Settings>
            <setting name="accpagibigph3srv_pagibig_aub_ws_ACC_MS_WEBSERVICE"
                serializeAs="String">
                <value>http://localhost:1649/ACC_MS_WEBSERVICE.asmx</value>
            </setting>
        </accpagibigph3srv.Properties.Settings>
    </applicationSettings>
</configuration>
